services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    command: --quiet --logpath /dev/null
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo-data:/data/db

  api:
    build: .
    container_name: api
    command: sh -c "npm install && npm run dev:web"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
    ports:
      - '3001:3001'
    depends_on:
      - mongodb

volumes:
  mongo-data:
